@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.ttf');
  src: url('../fonts/Geometria-Bold.ttf');
  src: url('../fonts/Geometria-Medium.ttf'); 
}


body{ 
  font-family: 'Geometria';
}