* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.p {
  position: relative;
  display: inline-block;
  font-family: Geometria;
  font-size: 2.34375vw;
  margin-left: 50vw;
  margin-top: 22.34375vw;
}

.h1 {
  display: inline-block;
  top: 762.5%;
  left: 762.5%;
  width: 32.877604166666664vw;
  height:  19.140625vw;
  font-family: Geometria;
  font-weight: bold;
  font-size: 11.25vw;
}
.hh1 {
  display: inline-block;
  top: 762.5%;
  left: 762.5%;
  width: 32.877604166666664vw;
  height:  19.140625vw;
  font-family: Geometria;
  font-weight: bold;
  font-size: 11.25vw;
}

.h2 {
  position: absolute;
  Left:  26.497395833333332vw;
  Top: 9.375vw;
  font-size: 3.125vw;
  font-family: Geometria;
  font-weight: Regular;
}

.qrcode{
  position: relative;
  display: inline-block;
  width: 10.15625vw;
  height: 10.15625vw;
  margin-right: 1000px;
  margin-bottom: 112px;
  margin-left: 124px;

}
.stext {
  position: relative;
  font-family: Geometria;
  font-weight: Regular;
  font-size:  1.171875vw;

}

.btext1 {
  position: relative;
  display: inline-block;
  weight:33.59375vw;
  height: 9.309895833333334vw;
  font-family: Geometria;
  font-weight: Medium;
  margin-left: 41.796875vw;
}
.btext2 {
  font-family: Geometria;
  font-weight: Medium;
  margin-left: 41.796875vw;

}

.date {
  position: relative;
  display: inline-block;
  width: 16.861979166666668vw;
  height: 13.346354166666666vw;
  font-family: Geometria;
  font-weight: bold;
  font-size: 6.25vw;

}

.wrapper-grid {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

body {
  overflow-x: hidden;
}

body:hover .wrapper-grid{
    transition: 50s;
    margin-left: 100vw;
}
.parent-grid {
    display: grid;
    width: calc(100px * 4);
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 100px);
}
.parent-grid .square{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.parent-grid .square:nth-of-type(1) > div,
.parent-grid .square:nth-of-type(3) > div,
.parent-grid .square:nth-of-type(6) > div,
.parent-grid .square:nth-of-type(8) > div,
.parent-grid .square:nth-of-type(9) > div,
.parent-grid .square:nth-of-type(11) > div,
.parent-grid .square:nth-of-type(14) > div,
.parent-grid .square:nth-of-type(16) > div
{
	background: black;
}
.parent-grid .square:hover .square-child:nth-child(2),
.parent-grid .square:hover .square-child:nth-child(4),
.parent-grid .square:hover .square-child:nth-child(6),
.parent-grid .square:hover .square-child:nth-child(8)
{
  transition: 0.5s;
  opacity: 0;
}
